<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAgGGcR_FSBMCQhBd_FBv3DNYKzIlI877A</string>
	<key>GCM_SENDER_ID</key>
	<string>329382566569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.webgrid.generp</string>
	<key>PROJECT_ID</key>
	<string>generp-fe09d</string>
	<key>STORAGE_BUCKET</key>
	<string>generp-fe09d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329382566569:ios:21fb5dcd0be4ac6bff67b8</string>
    <key>CFBundleURLTypes</key>
</dict>
</plist>